:root{
    --yellow: #fadf0c;
    --green: #2eff2e;
    --orange: #ff4910;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
    background: #000;
    height: 100vh;
}

h1{
    color: #fff;
    margin: 40px 0;
    font-weight: bolder;
    text-align: center;
}

#canvas-wrapper{
    display: flex;
    flex-direction: column;
}

#canvas{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    max-width: 640px;
    margin: auto;
}

input[type="button"]{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border: none;
}

input[type="button"]:first-of-type{
    margin-top: 30px;
}

#level {
    color: #fff;
    text-align: center;
    margin: -15px 0 15px;
}