@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

:root{
    --form-margin-bot: 15px;
    --button-bg: #586273;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

.form-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

form{
    width: 30%;
    height: 30%;
    display: grid;  
}

input{
    height: 30px;    
    text-align: center;
    border-radius: 10px;
    margin-bottom: var(--form-margin-bot);
}

input[type="number"]:focus{
    outline: 0;
}

input[type="submit"]:hover, input[type="button"]:hover{
    cursor: pointer;
    background-color: var(--button-bg);
}

.result-container{
    width: 30%;
    height: 30px;
    display: relative;
    margin: auto;
    margin-top: 150px;
    text-align: center;
    margin-bottom: 200px;
}

#result{
    font-weight: bold;
}